<span class="input-group-addon">
    <abbr title="Apps' package names">Packages</abbr>
</span>
<select class="form-control" id="pkg-list"></select>
<span class="input-group-btn">
    <button type="button" class="btn btn-primary" id="auto-trace">Record</button>
</span>