<span class="input-group-addon">
    <abbr title="Select a file to show the report">Record Files</abbr>
</span>
<select class="form-control" id="trace-file"></select>
<span class="input-group-btn">
    <button type="button" class="btn btn-primary" id="load-dex-zip">Report</button>
</span>