<h1 class="">CoverDroid</h1>
<div class="row">
    <button type="button" class="btn btn-primary btn-lg btn-block" id="show-trace-component">Test</button>
</div>
<div class="row" id="trace-component">
    <div class="input-group">
        <span class="input-group-addon">
            <abbr title="The ip of the phone you choose to test the app">Phone Ip</abbr>
        </span>
        <input type="text" class="form-control" id="phone-ip">
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary" id="update-pkg-names">Update</button>
        </span>
    </div>
    <div class="pkg-name-list" style="margin-top: 20px; display: none;">
    </div>
    <p class="text-muted text-center" id="trace-info"></p>
</div>
<div class="row">
    <a href="#history" type="button" class="btn btn-info btn-lg btn-block">Coverage Reports</a>
</div>