<h1 class="static col-md-8 col-md-offset-2">CoverDroid</h1>
<div id="header" class="row static col-md-8 col-md-offset-2">
    <div class="trace-file-list"></div>
    <!--<div class="dex-file-list col-md-7"></div>-->
    <!--<div class="input-group col-md-4">-->
    <!--<span class="input-group-addon">-->
    <!--<abbr title="Apps' package names">ClzName</abbr>-->
    <!--</span>-->
    <!--<input type="text" class="form-control" id="clz-name" value="">-->
    <!--<span class="input-group-btn">-->
    <!--<button type="button" class="btn btn-primary" id="search-result">Search</button>-->
    <!--&lt;!&ndash;<button type="button" class="btn btn-primary" id="load-dex-zip">Search</button>&ndash;&gt;-->
    <!--</span>-->
    <!--</div>-->
</div>
<div id="result" class="row">
    <div class="col-md-4 method-class"></div>
    <div class="col-md-8 method-info"></div>
</div>